In [2]:
import pandas as pd
import numpy as np

In [3]:
A = np.random.random(100)
B = np.random.normal(size = 100)
C = np.random.random(100)

In [4]:
df = pd.DataFrame(
    {'A': A, 'B': B, 'C': C}
)

In [5]:
df.head()

          A         B         C
0  0.725116 -0.152643  0.729121
1  0.601242 -0.268004  0.384341
2  0.346761 -1.288170  0.545337
3  0.970939 -0.220833  0.642687
4  0.079209 -1.084638  0.193623

In [7]:
df.to_json("random_data.json", orient = "records")

In [8]:
import pandas as pd
df = pd.read_csv (r'building_inventory.csv')
df.to_json (r'building_inventory.json')